body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
/*-------styling navbar-------*/

.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/*------------styling footer----------*/
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*-------styling index page--------*/
.row a{
    text-decoration: none;
}
.card{
    height: 25rem !important;
    width: 20rem !important;
    border: none !important;
    margin-bottom: 2rem;
}
.card-body{
    border-radius: 1rem !important;
    text-align: left;
    padding: 0 !important;
}
.card-img-top{
    margin-top: 10px;
    height: 20rem;
    width: 100% !important;
    border-radius: 1rem !important;
    align-self: center;
    object-fit: cover;
}
.card-text{
    font-weight: 400 !important;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}